body {
  padding: 50px;

  .add-meeting-container {
    height: 80vh;
    width:90%;
    display: flex;
    flex-direction: column;
    margin:0 auto;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;

   button {
      width: 100%;
      height: 35%;
      background-color: #346DC9;
      border: 0;
      font-size: 16px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;

    }
    .disabled-button{
      background-color:rgba(239, 239, 239, 0.3);
      cursor:auto
    }



    .content-div {

      height: 10%;
      text-align: left;
      margin: 3px 0;
      padding: 10px;
      display: flex;
        justify-content: flex-start;
      // border: 1px solid grey;
    }

    .common {
      height: 25%;
      width: 50%;
      margin: auto auto 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .label-container {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
      }
    
    .input-fields {
          margin-left: 10%;
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
    
    }
    .field-wrapper
    {
      display:flex;
      justify-content: flex-start;
    }
    .label{
      margin:5px;
      margin-bottom: 35%;
    }
    .MuiOutlinedInput-inputAdornedStart
    {
      padding: 0;
      margin: 8px 0;
    }
    .MuiOutlinedInput-adornedStart 
    {
      margin-bottom: 8px;
    }
    .Dropdown-control
    {
      margin-top: 16px;
    }

   

  }
  .modalWrapper{
    position: 'absolute' as 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
    height: 70%;
    width: 70%;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    background: white;
    text-align: center;

    button {
      width: 100%;
      height: 10%;
      background-color: #346DC9;
      border: 0;
      font-size: 16px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;

    }
    .selected {
      background-color: lightgray;
    }

    
    
    .roomDetailsWrapper{
      width: 100%;
      border: 2px solid grey;
      margin-bottom: 1rem;
      cursor: pointer;
      border-radius: 10px;
    }
  }
}